body {
  background-color: #2d3234;
  color: #dbdfe1;
  font-family: 'futura-pt';
  font-size: 16px;
}

.search {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  justify-content: center;
}
.search input {
  background: none;
  border: none;
  border-bottom: 1px solid#dbdfe1;
  color: #dbdfe1;
  width: 300px;
  font-size: 1.5em;
  font-family: 'futura-pt';
  font-weight: 300;
}

.welcome,
.clock,
.weather {
  text-align: center;
  font-weight: 100;
}
.welcome {
  margin-top: 175px;
  font-size: 5em;
}

.clock {
  font-size: 10em;
}

.weather {
  font-size: 5em;
}

.bookmarks {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.bookmarks > div {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 300px;
  margin: 0 5px;
  border: 1px solid;
}
.bookmarks > div h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.bookmarks > div > div {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.bookmarks > div > div a {
  text-decoration: none;
  color: #dbdfe1;
  margin: 5px 0;
}
.bookmarks > div > div a:hover {
  text-decoration: underline;
}
